<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonStats_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PokemonStats_WPF.Properties.Settings>
            <setting name="DatabaseUsed" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Server=;Uid=;Pwd=;Database=;</value>
            </setting>
        </PokemonStats_WPF.Properties.Settings>
    </applicationSettings>
</configuration>